@mixin triangle-right {
  width: 0;
  height: 0;
  box-sizing: content-box;
  border-bottom: 20px solid transparent;
  border-left: 20px solid black;
  border-top: 20px solid transparent;
}

@mixin triangle-left {
  width: 0;
  height: 0;
  box-sizing: content-box;
  border-bottom: 20px solid transparent;
  border-right: 20px solid black;
  border-top: 20px solid transparent;
}
