.synthBeatOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(0,0,0,0.75);

  &__options {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__buttonRow {
    display: flex;
    flex: 2;
  }

  &__durationSelect {
    flex: 6;
  }

  &__button {
    border: outset 4px;
    flex: 1;

    &:active {
      border-style: inset;
    }
  }
}

.confirmButton {

  border-color: green;
  background: darkgreen;
}

.cancelButton{
  width: 100%;
  border-color: lightgray;
  background: rgb(103, 103, 103);
}

.durationSelect {
  flex: 7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  &__button {
    border: grey outset 4px;
    background: black;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;

    &__active {
      border-style: inset;
      background: rgb(90, 90, 90);
      color: white;
    }
  }

}

.clearButton {
  flex: 3;
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: maroon;
  background: rgb(98, 3, 3);

  &__disabled {
    display: flex;
    justify-content: center;
    
  }

  &__text {
    flex: 7;
    display: flex;
    justify-content: flex-end;
    color: steelblue;
  }

  &__checkboxContainer {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
  }

  &__checkbox {
    flex: 1;
  }
}