.synthBeatOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(0,0,0,0.75);

  &__options {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__buttonRow {
    display: flex;
    flex: 2;
  }

  &__durationSelect {
    flex: 6;
  }

  &__button {
    border: outset 4px;
    flex: 1;

    &:active {
      border-style: inset;
    }
  }
}

.confirmButton {

  border-color: green;
  background: darkgreen;
}

.cancelButton{
  width: 100%;
  border-color: lightgray;
  background: rgb(103, 103, 103);
}

.clearButton {
  flex: 3;
  border-color: maroon;
  background: rgb(98, 3, 3);

  &__disabled {
    
  }

  &__text {
    
  }

  &__checkBox {

  }
}