.triangle-right {
  width: 0;
  height: 0;
  position: relative;
  box-sizing: content-box;
  border-bottom: 16px solid transparent;
  border-left: 16px solid black;
  border-top: 16px solid transparent;
  transform-style: preserve-3d;

  &:active {
    border-left-color: lightgrey;
  }

  &:hover {
    &:after {
      content: '';
      position: absolute;
      transform: translateZ(-1px);
      left: -18px;
      top: -20px;
      width: 0;
      height: 0;
      box-sizing: content-box;
      border-bottom: 20px solid transparent;
      border-left: 20px solid white;
      border-top: 20px solid transparent;
    }
  }
}

.triangle-left {
  width: 0;
  height: 0;
  position: relative;
  box-sizing: content-box;
  border-bottom: 16px solid transparent;
  border-right: 16px solid black;
  border-top: 16px solid transparent;
  transform-style: preserve-3d;

  &:active {
    border-right-color: lightgrey;
  }

  &:hover {
    &:after {
      content: '';
      position: absolute;
      transform: translateZ(-1px);
      right: -18px;
      top: -20px;
      width: 0;
      height: 0;
      box-sizing: content-box;
      border-bottom: 20px solid transparent;
      border-right: 20px solid white;
      border-top: 20px solid transparent;
    }
  }
}

.rounded-square {
  border: solid black 5px;
  border-radius: 20%;
}