.trackList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  &__track {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    font-weight: 700;

    background-color: black;
    color: white;
  }
}