.App {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.contentContainer {
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 360px;
  background-color: cyan;
}

.pageContainer {
  /* max width/height
  width: 768px;
  height: 1024px;
  min width/height
  width: 320px;
  height: 480px; */
  width: 640px;
  height: 360px;
}

.triangle-right {
  width: 0;
  height: 0;
  box-sizing: content-box;
  border-bottom: 20px solid transparent;
  border-left: 20px solid black;
  border-top: 20px solid transparent;
}

.triangle-left {
  width: 0;
  height: 0;
  box-sizing: content-box;
  border-bottom: 20px solid transparent;
  border-right: 20px solid black;
  border-top: 20px solid transparent;
}

.rounded-square {
  border: solid black 5px;
  border-radius: 20%;
}

.synthoMain {
  padding: 5% 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.synthBeat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 15px;
}
.synthBeat__beats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 15px;
}
.synthBeat__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.8);
}
.synthBeat:not(:last-child) {
  border-right: 2px solid cyan;
}
.synthBeat__large {
  height: 80px;
  width: 80px;
}
.synthBeat__small {
  height: 50px;
  width: 50px;
}

.synthBeat__container {
  position: absolute;
}

.synthBeatOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.7);
}
.synthBeatOverlay__options {
  height: 100%;
  width: 100%;
}

.noteSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 15px;
  background: linear-gradient(335deg, #8d6213, #302207);
  border: solid #3d2b09 3px;
}
.noteSelect__octaveColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.noteSelect__octaveColumnItem {
  padding: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noteSelect__octaveColumnItem__current {
  color: goldenrod;
}
.noteSelect__octaveColumnItem__selected:after {
  content: "";
  position: absolute;
  left: -1.5px;
  top: -1.5px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  border: solid goldenrod 2px;
  border-radius: 5px;
}

.synthBeatContainer {
  width: 100%;
  height: 100%;
  display: flex;
  background: palevioletred;
  flex: 3;
}

.playButton {
  display: flex;
  align-items: center;
  gap: 1em;
}

.tempoDisplay {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.trackList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.trackList__track {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  font-weight: 700;
  background-color: black;
  color: white;
}

.userInterface {
  display: flex;
  flex: 1;
  background-color: silver;
}
.userInterface__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 5% 0;
}

/*# sourceMappingURL=main.css.map */
