.noteSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 15px;
  background: linear-gradient(335deg, #8d6213, #302207);
  border: solid #3d2b09 3px;

  &__octaveColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  &__octaveColumnItem {
    padding: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__current {
      color: goldenrod;
    }

    &__selected {
      border: solid goldenrod 2px;
      border-radius: 5px;
    }
  }
}